.order{
    &__hero{
        margin: 12px;
        padding: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        height: 400px;
        justify-content: center;
        align-items: center;
        justify-items: start;
        gap: 20px;
        &__img{
            width: 80%;
            display: flex;
            justify-items: end;
            justify-content: end;
            overflow: auto;
            float: right;
            img{
                object-fit: contain;
                margin: auto;
                width: 80%;
            }
        }
    }

    &__logo{
        display: flex;
        margin: auto;
        flex-direction: column;
       
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        border-radius: 12px;
        background-image: url("../public/shape/green.png"),
          linear-gradient(
            115deg,
            rgba(9, 69, 144, 1) 21%,
            rgba(18, 115, 235, 1) 100%
          );
        background-position: right, right;
        z-index: -1 !important;
        background-repeat: no-repeat;
        color: #fff;
        img{
            width: 60px;
            height: 60px;
            margin: 8px;
            background-color: #fff;
            border-radius: 12px;
        }

       
        &__text{
            text-align: center;
            padding: 12px;
            margin: 4px;
            h1{
                font-size: 26px;
                font-weight: 700;
            }
            p{
                font-weight: 14px;
                color: #dedede;
                font-weight: 400;
            }
        }

        
    }
    &__content{
        margin-top: 60px;
    }
    &__tugas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: auto;
        MySwipper{

        }:hover{
            scale: 1.1;
        }
    }

    &__timeline{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        top: 40px;
     

        &__in{
            width: 80%;
            margin: auto;
            zoom: 90%;
            padding: 10px;
        }
    }
}

.add {
    margin-top: 40px;
    height: 100vh;
    display: grid;
    place-items: center;
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      justify-content: center;
      &__img {
        width: 100%;
      }
      &__text{
        width: 80%;
      }
  
      &__text__socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        margin: 4px;
        justify-content: center;
        padding: 12px;
      }
    }
  }


@media screen and (max-width: 670px) {
    .order__hero{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
}